.old-story {
  padding: 2px;
  border-radius: 50%;
  border: 1px solid gainsboro;
}
.new-story {
  padding: 2px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
svg {
  color: rgb(38, 38, 38);
  fill: rgb(38, 38, 38);
  width: 24px;
  height: 24px;
}
.fixed-icon {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.carousel-inner {
  display: flex;
}
.carousel-item {
  display: block;
  margin-right: 0.5rem;
  flex: 0 0 calc(100% / 10);
  min-width: 40.344px;
}
@media (max-width: 575px) {
  .carousel-item {
    flex: 0 0 calc(100% / 6);
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 3.3vh;
  height: 3.3vh;
  background-color: #747474;
  border-radius: 50%;
  top: 38%;
  transform: translateY(-50%);
  opacity: 0.8;
}
.carousel-control-prev {
  left: 30px;
}
.carousel-control-next {
  right: 30px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}
input[type="text"] {
  border: none;
  text-align: center;
  width: 300px;
  background: #f0f0f0;
}
